TWITCH_APP_ID= # <twitch app id>
TWITCH_APP_SECRET= # <twitch app secret>

# Bot twitch user id
BOT_ID=1253884011
# Owner twitch user id
OWNER_ID=756734432
# User id of the first channel the bot will join
TARGET_CHANNEL=1253884011

# Ravenfall credentials
RAVENFALL_API_USER=abrokecube
RAVENFALL_API_PASS=password123

# get this from your auth-token cookie on Twitch
USER_TOKEN= 

LOGGING_LEVEL=20

